@import url("theme.css");

/* here be dragons /*

h1 {
    color: cornflowerblue;
}

p { font-family: Arial, Helvetica, sans-serif;
font-size: 32px;
font-weight: normal;
color: black}

#special-paragraph {
    color:purple;
}

.nomargin {
    margin: 1
}
strong {
    font-weight: normal;
    font-family: monospace;
}

table {
    border:1px solid grey
}

